#container{ /*id */
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 5%;
    background-color: silver;
}

.caixa{ /*classe*/
    width: 300px;
    background-color: #727070;
    color:darkgrey;
    padding: 15%;
    border-radius: 10px;
    text-align: center;
}

img{ /*tag*/
    max-width: 55%;
    max-height: 55%;
    width: auto;
    height: auto;
}


